<header class="header">
  <section>
    <% if current_page? categories_path || transactions_path %>
    <button type="button" class="hamburger-button">
      <%= fa_icon "bars", class: "hamburger" %>
    </button>
    <% else %>
      <%= link_to :back do %>
        <%= fa_icon "chevron-left" %>
      <% end %>
    <% end %>
  </section>
  <p class="page-title">
    <% if current_page? new_user_session_path %>
      LOGIN
    <% elsif current_page? new_user_registration_path %>
      REGISTER
    <% end %>
  </p>
  <section>
    <% if current_page? new_user_session_path %>
      <button type="submit" form="new_user" value="Log In">Log In</button>
    <% elsif current_page? new_user_registration_path %>
      REGISTER
    <% end %>
  </section>
</header>
