<section class="homepage-container">
<h1 id="brand-logo">Wise Fin</h1>
<section class="homepage-links-container">
  <%= link_to "LOG IN", new_user_session_path, class: "homepage-links log-in-link" %>
  <%= link_to "SIGN UP", new_user_registration_path, class: "homepage-links sign-up-link" %>
</section>
</section>
