.entities-index-page {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.entities-nav {
  width: 100%;
  display: flex;
  background-color: var(--primary-color);
}

.entities-nav-list {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  overflow-x: scroll;
  gap: 2rem;
  color: #fff;
  list-style: none;
  flex-wrap: nowrap;
}

.entities-nav-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex: auto;
  position: relative;
  padding-bottom: 0.25rem;
}

.active::after {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  bottom: -0.125rem;
  left: 50%;
  transform: translateX(-50%);
}

.no-expense {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 1.5rem;
  margin-top: 50%;
}

.entities-table {
  width: 100%;
  align-self: center;
  margin: 0 auto;
}

.entities-table-head {
  width: 100%;
  background-color: var(--primary-color);
  color: #fff;
  font-family: 'Proxima Nova Bold', sans-serif;
}

.entities-table-body {
  width: 100%;
  background-color: #60a6f7;
  color: #fff;
}

.entities-table-row:nth-of-type(odd) {
  background-color: #96c7ff;
  color: #000;
}

.entities-table-col {
  padding: 0.5rem;
  text-align: center;
}
