.header {
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.35em;
  position: relative;
}

.hamburger-button {
  color: #fff;
  font-size: 1.5rem;
}

.nav-open .hamburger {
  transition: all 150ms ease-in-out;
}

.page-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
